<%= form_for(@exam_group) do |f| %>
  <% if @exam_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_group.errors.count, "error") %> prohibited this exam_group from being saved:</h2>

      <ul>
      <% @exam_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
