<div id="main_container" class="main_container container_16 clearfix">
									<div id="nav_top" class="clearfix round_top">
				<ul class="clearfix round_all">
					<li class="current"><a href="#"><img src="images/laptop.png"/>Dashboard</a>
					</li>
					<li><a href="#"><img src="images/user.png"/>New Admission</a>
					</li>
					<li><a href="#"><img src="images/globe_2.png"/>Current Session</a>
						<ul class="dropdown">
							<li><a href="#"><img src="images/alarm_bell_2.png"/>Shifts</a></li>
							<li><a href="text.html"><img src="images/alarm_clock.png"/>Working Days</a></li>
							<li><a class="has_slide" href="#"><img src="images/timer.png"/>Working Periods</a>
								<ul class="slideout">						
									<li><a href="#">Morning Shift</a></li>
									<li><a href="#">Evening Shift</a></li>
									<li><a href="#">Primary Shift</a></li>
								</ul>
							</li>
							<li><a class="has_slide" href="#"><img src="images/excel_documents.png"/>Previous Sessions</a>
								<ul class="slideout">
									<li><a href="#">2008-2009</a></li>
									<li><a href="#">2009-2010</a></li>
								</ul>
							</li>
						</ul>
					</li>
				
					<li><a href="#"><img src="../images/home_2.png"/>School</a>
						<ul class="dropdown">
							<li><a href="#"><img src="images/create_write.png"/>Classes</a></li>
							<li><a href="#"><img src="../images/chemical.png"/>Subjects</a></li>
							<li><a class="has_slide" href="#">Resources</a>
								<ul class="slideout">						
									<li><a href="#">Class Rooms</a></li>
									<li><a href="#">Labs</a></li>
									<li><a href="#">Other</a></li>
								</ul>
							</li>
						</ul>
					</li>	
					<li><a href="#"><img src="images/fountain_Pen.png"/>Examination</a>
						<ul class="dropdown dropdown_left">
							<li><a href="#"><img src="images/day_Calendar.png"/>Schedule</a></li>
						</ul>
					</li>
					<li><a href="#"><img src="images/month_calendar.png"/>Almanac</a>
						<ul class="dropdown dropdown_left">
							<li><a href="#"><img src="../images/balloons.png"/>Holidays</a></li>
							<li><a href="#"><img src="../images/stop_watch.png"/>Events</a></li>
						</ul>
					</li>
					<li><a href="#"><img src="../images/alarm_bell.png"/>Time table</a>
						<ul class="dropdown dropdown_left">
							<li><a href="#"><img src="../images/clock.png"/>Todays Timetable</a></li>
							<li><a href="#"><img src="../images/cog_4.png"/>Generate</a></li>
						</ul>
					</li>
				</ul>	
			</div><!-- #nav_top -->
			</div>
